# <u> Use only those concepts which have been taught till now </u>

In [1]:
import numpy as np
import pandas as pd

# <u>**Problem 1**</u>

### You are given a list of urls. You need to extract the domain name from the urls in another list. Also you need to extract the ending string which the url ends with. 

### For example, https://www.example.com/market.php -- In this example, domain name is <code>www.example.com</code> and the ending string is <code>php</code>

In [3]:
# List of urls
url_list = ['https://blog.hubspot.com/marketing/parts-url',
            'https://www.almabetter.com/enrollments',
            'https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html',
            'https://www.programiz.com/python-programming/list']

In [129]:
# Extract the domains and the ending string. Hint : use the split method for a string
url_list_split=[]
for a in url_list:
  split1=a.split("/")
  url_list_split.append(split1)

#  domains name in website
domain_list=[i[2:3] for i in url_list_split ]
print(domain_list)

# ending sting in website
ending_string_list_1 = [a[-1] for a in url_list_split ]
ending_string_list=[]
for p in ending_string_list_1:
  if "-" in p:
    split4=p.split("-")
    ending_string_list.append(split4[-1])
  elif "." in p:
    split5=p.split(".")
    ending_string_list.append(split5[-1])
  else:
    ending_string_list.append(p)
print(ending_string_list)

[['blog.hubspot.com'], ['www.almabetter.com'], ['pandas.pydata.org'], ['www.programiz.com']]
['url', 'enrollments', 'html', 'list']

## Next create a pandas dataframe with the above three lists.

In [138]:
# Your code here. Hint : zip the three lists
pandas_dataframe=pd.DataFrame(list(zip(url_list,domain_list,ending_string_list)),columns =["Website","Domain","End String"])

pandas_dataframe

                                             Website  ...   End String
0       https://blog.hubspot.com/marketing/parts-url  ...          url
1             https://www.almabetter.com/enrollments  ...  enrollments
2  https://pandas.pydata.org/pandas-docs/stable/r...  ...         html
3  https://www.programiz.com/python-programming/list  ...         list

[4 rows x 3 columns]